.form-horizontal19Fb2019{
    
      
    min-width: 100px;
}
.letra-horizontal19Fb2019{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.linea{
    margin: 20px auto 0 auto;
    border-bottom: 4px solid #bb8800;
}

.elh5{
    font: 150% sans-serif;
    text-align: center
}

.simbologiaAdmin{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}